<!-- menu -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title text-center">
                    <h4 class="text-danger">Admin Control Panel</h4>
                </div>
                <p class="text-center"> Mysql Version: <b>1.2.3</b> - PHP Version: <b>{{ phpv }}</b> </p>
                <br>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/avatars"> <img src="{{ url }}/images/admin/avatars.png" alt="Avatar Log"> <br> Avatars </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/backups"> <img src="{{ url }}/images/admin/backups.png" alt="Database Backup"> <br> Backups </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/bannedtorrents"> <img src="{{ url }}/images/admin/banned_torrents.png" alt="Banned Torrents"> <br> Banned Torrents </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/categories"> <img src="{{ url }}/images/admin/categories.png" alt="Torrent Categories"> <br> Torrent Categories </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/censors"> <img src="{{ url }}/images/admin/censors.png" alt="Word Censor"> <br> Word Censor </a>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/cheaters"> <img src="{{ url }}/images/admin/cheaters.png" alt=""> <br> Detect Possible Cheaters </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/emailbans"> <img src="{{ url }}/images/admin/email_bans.png" alt=""> <br> E-Mail Bans </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/faqcategories"> <img src="{{ url }}/images/admin/faq.png" alt=""> <br> FAQ Categories </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/faqs"> <img src="{{ url }}/images/admin/faqs.png" alt=""> <br> FAQ's </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/forums"> <img src="{{ url }}/images/admin/forums.png" alt=""> <br> Forum Management </a>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/freetorrents"> <img src="{{ url }}/images/admin/freetorrents.png" alt=""> <br> Freeleech Torrents </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/invites"> <img src="{{ url }}/images/admin/invites.png" alt=""> <br> Invited Users </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/ipbans"> <img src="{{ url }}/images/admin/ipbans.png" alt="IP Block"> <br> Banned IPs </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/lastcomments"> <img src="{{ url }}/images/admin/lastcomments.png" alt=""> <br> Latest Comments </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/logs"> <img src="{{ url }}/images/admin/logs.png" alt=""> <br> Site Log </a>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/masspm"> <img src="{{ url }}/images/admin/masspm.png" alt=""> <br> Mass PM </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/news"> <img src="{{ url }}/images/admin/news.png" alt=""> <br> News </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/peers"> <img src="{{ url }}/images/admin/peers.png" alt=""> <br> Peers List </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/pendinginvites"> <img src="{{ url }}/images/admin/pendinginvite.png" alt=""> <br> Pending Invited Users </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/polls"> <img src="{{ url }}/images/admin/polls.png" alt=""> <br> Polls </a>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/privacylevels"> <img src="{{ url }}/images/admin/privacylevel.png" alt=""> <br> Privacy Level </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/reports"> <img src="{{ url }}/images/admin/reports.png" alt=""> <br> Reports System </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/rules"> <img src="{{ url }}/images/admin/rules.png" alt=""> <br> Rules </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/settings"> <img src="{{ url }}/images/admin/settings.png" alt=""> <br> Configuration </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/sqlerrors"> <img src="{{ url }}/images/admin/sqlerrors.png" alt=""> <br> SQL Errors </a>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <a href="{{ url }}/dashboard/torrents"> <img src="{{ url }}/images/admin/torrents.png" alt=""> <br> Torrents </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/users"> <img src="{{ url }}/images/admin/users.png" alt=""> <br> Simple User Search </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/usersearches"> <img src="{{ url }}/images/admin/usersearch.png" alt="User Search"> <br> Advanced User Search </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}/dashboard/warneds"> <img src="{{ url }}/images/admin/warned.png" alt=""> <br> Warned Users </a>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- end menu -->
