<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a class="  " href="{{ url }}/home" aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Home</span></a> </li>

                <li class="nav-label">Nav</li>
                <li> <a class="  " href="{{ url }}/members" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Members</span></a> </li>
                <li> <a class="  " href="{{ url }}/forum" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Forum</span></a> </li>
                <li> <a class="  " href="{{ url }}/chat" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Chat</span></a> </li>

                <li class="nav-label">Torrents</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Torrents</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ url }}/torrents">Torrents</a></li>
                        <li><a href="{{ url }}/torrents/upload">Upload Torrents</a></li>
                        <li><a href="{{ url }}/torrents/import">Mass Torrent Import</a></li>
                    </ul>
                </li>

                <li class="nav-label">Extra</li>
                <li> <a class="  " href="{{ url }}/faq" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">F.A.Q</span></a> </li>
                <li> <a class="  " href="{{ url }}/rules" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Rules</span></a> </li>
                <li> <a class="  " href="{{ url }}/staff" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Staff</span></a> </li>

                <li class="nav-label">Dashboard</li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{ url }}/dashboard">Admin CP</a></li>
                        <li><a href="{{ url }}/dashboard">Moderator CP</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
